<!DOCTYPE html>
<html>
<head>
	<title>Todo List</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script type="text/javascript" href="public/todo-list.js"></script>
	<script type="text/javascript" href="./controllers/todoController.js"></script>
	<script type="text/javascript" href="/app.js"></script>

</head>
<body>
	<div id="todo-table">
		<form>
			<input type="text" name="item" placeholder="Add new item.." required />
			<button type="submit">Add Item</button>
		</form>
		<ul>
			<% for(var i=0; i< todos.length; i++){ %>
				<li><%= todos[i].item %></li>

			<% } %>
		
		</ul>
		
	</div>
</body>
</html>